*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --clr-blue: #2c7dfa;
  --clr-blue-shade: #3685ff;
  --clr-dark-navy: #1f314f;
  --clr-grey: #7d889e;
  --clr-light-grey: #d5e1ef;
  --clr-white: #fff;
}

body {
  position: relative;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--clr-light-grey);
  text-align: center;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  color: var(--clr-dark-navy);
}
.card {
  background-color: var(--clr-white);
  max-width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
}
.card__image {
  border-radius: 0.7rem;
}
.card__title {
  color: var(--clr-dark-navy);
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.card__text {
  color: var(--clr-grey);
  margin-block: 0.75rem;
}
